*.pyc
__pycache__/

cfg/
pretrained_models/
sources/
test/
uploads/
utils/
venv/
webvtt-captions/
weights-yolov3-person/
detections.csv
predict_by_yolov3.py
predict_by_yolov8.py
json_vtt_transfer.py
yolov3.py
yolov8s.pt